##AL
#Folders
.bin/
.obj/
.Properties/

#Files
App.config
App.xaml
App.xaml.cs
ArchnmesisModModel.cs
MainWindow.xaml
MainWindow.xaml.cs
por-archnemesis-acs.csproj
poe-archnemesis-acs.csproj.user
poe-archnemesis-acs-sln
